:root {
  --maroon    : #860d0d;
  --darkMaroon: #401b1b;
  --white     : #ffffff;
  --blue      : #022296;
  --lightBlue : #0a8ee0;
  --orange    : #ff2419;
  --black     : #1c1616;
  --lightBlack: #110f0fd5;
  --yellow    : #fbff05;
}

/* .date-picker {
  position: relative;
  width: 100%;
  max-width: 320px;
  min-height: 50px;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
  margin: 1rem auto;
  cursor: pointer;
  user-select: none;
}

.date-picker .selected-date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 28px;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.date-picker .dates {
  display: none;
  background-color: var(--maroon);
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
}

.date-picker .dates.active {
  display: block;
} */

/* ==================================Calendar========================= */