/* -------------------Globals -------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #1c1616;
}

:root {
  --maroon: #860d0d;
  --darkMaroon: #401b1b;
  --white: #ffffff;
  --blue: #022296;
  --lightBlue: #0a8ee0;
  --orange: #ff2419;
  --black: #1c1616;
  --lightBlack: #110f0fd5;
  --yellow: #fbff05;
}

.page-height {
  min-height: calc(100vh - 22vh);
  padding: 1rem;
}

a {
  text-decoration: none;
}

.img-responsive {
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  padding: 10px 1rem;
  margin: 10px 0;
  font-size: 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.btn-primary,
.btn-primary .fa,
.btn-outline:hover {
  background-color: var(--maroon);
  color: var(--white);
  border-color: var(--maroon);
}

.btn .fa {
  margin-left: 1rem;
  font-weight: 200;
  background-color: transparent;
}

.btn-primary:hover,
.btn-primary:hover > .fa,
.btn-outline {
  background-color: transparent;
  color: var(--maroon);
}

.btn-default {
  background-color: var(--white);
  color: var(--maroon);
  border-color: var(--white);
}

.btn-default:hover {
  color: var(--white);
  background-color: transparent;
}

#prevdate,
.nextdate {
  opacity: 0.5;
}

#today {
  background-color: var(--maroon);
  color: var(--white);
}

/* --------------------------Accordion--------------------- */
.accordion .accordion-list {
  border-top: 1px solid var(--lightBlack);
  padding: 1rem;
  padding-left: 2rem;
}

.accordion .accordion-list .title {
  padding: 1rem 0;
  padding-top: 0;
  text-transform: capitalize;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.accordion .accordion-list:last-child {
  border-bottom: 1px solid var(--lightBlack);
}

.accordion .accordion-list .title::before {
  content: "";
  height: 6px;
  width: 6px;
  display: block;
  position: absolute;
  top: 12px;
  left: -1.8rem;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

.accordion .accordion-list div p {
  margin: 0.5rem 0;
  line-height: 1.5rem;
}

.accordion .accordion-list div .btn {
  margin-top: 1.5rem;
}

.accordion .accordion-list div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}

.accordion .accordion-list .title.open + div {
  max-height: 500px;
}

.accordion .accordion-list .title.open::before {
  transform: rotate(135deg);
}
/* -----------------------End of Accordion----------------- */

/* --------------End of Globals ----------------------------- */
/* ---------------------------Error Page------------------------ */
.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background        : url(/images/resort-image.jpg) center/cover no-repeat;
  background-attachment: fixed; */
}

.error-page div {
  border: 1px solid var(--black);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
}

.error-page div h2 {
  color: var(--maroon);
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}

.error-page div p {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
  /* color     : var(--white); */
}

/* -----------------------End of Error Page ---------------------- */

/* --------------------Header ----------------------------- */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

/* -------------------------Top Header -------------------- */
.header .header-info {
  background-color: var(--maroon);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 30px;
  align-items: center;
  padding: 10px;
}

.header .header-info div span {
  color: var(--white);
}

.header .header-info .fa-phone {
  margin-right: 0.5rem;
}

.header .header-info .fa {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  font-size: 1.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.header .header-info .info-right .fa:hover {
  transform: rotate(360deg);
}

.header .header-info .fa-facebook {
  background-color: var(--blue);
}

.header .header-info .fa-twitter {
  background-color: var(--lightBlue);
}

.header .header-info .fa-google-plus {
  background-color: var(--orange);
}

.header .header-info .fa-instagram {
  background: linear-gradient(to right, #f71307, #f71307, #0744a5);
}

@media screen and (max-width: 678px) {
  .header .header-info {
    flex-direction: column;
    padding-top: 2px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .header .header-info .info-left {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--white);
    width: 100%;
    padding-bottom: 8px;
  }
}

/* -----------------End of Top Header ------------------ */

/* ----------------------Navigation Header --------------- */
.header .header-nav {
  box-shadow: 0px 4px 4px -4px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 1rem;
  min-height: 60px;
}

.header .header-nav .nav-logo a,
.header .header-nav .nav-logo a span {
  font-size: 1.5rem;
}

.header .header-nav .nav-logo span {
  color: var(--orange);
}

.header .header-nav .nav-menu {
  display: flex;
  list-style: none;
}

.header .header-nav .nav-menu .nav-link {
  margin: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.header .header-nav li a {
  color: var(--lightBlack);
  transition: all 0.3s ease-in-out;
  width: 100%;
  display: inline-block;
}

.header .header-nav li:hover a {
  color: var(--orange);
}

.toggle-collapse {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}

.toggle-collapse .fa-bars {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .toggle-collapse {
    display: block;
  }

  .header .header-nav {
    display: block;
    padding: 0;
  }

  .header .header-nav .nav-logo {
    min-height: 55px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .header .header-nav .nav-menu {
    display: block;
    padding-bottom: 5px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .header .header-nav .nav-menu .nav-link {
    margin: 2px 0;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }

  .header .header-nav .nav-menu .nav-link .active {
    background-color: var(--maroon);
  }

  .header .header-nav .nav-menu .nav-link:first-child {
    border-top: 1px solid var(--maroon);
    margin-top: 5px;
  }

  .header .header-nav .nav-menu .nav-link:hover {
    background-color: var(--maroon);
  }

  .header .header-nav .nav-menu .nav-link:hover a {
    color: var(--white);
  }

  .header .header-nav .nav-menu.show-nav {
    height: 250px;
  }
}

/* ----------------End of Navigation Header --------------- */
/* -------------------End of Header ---------------------- */

/* -----------------------Footer ------------------------- */
.footer {
  min-height: 6vh;
  background-color: var(--maroon);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

/* ------------------End of Footer -------------------------- */

/* --------------------------Home----------------------------- */
.home {
  padding: 0;
}

/* ---------------------------Home Slider--------------------- */
.home-slider {
  min-height: 85vh;
  background: center/cover no-repeat;
  animation: backgroundanimate 50s ease-in-out infinite;
  animation-delay: -35s;
  background-attachment: fixed;
}

@keyframes backgroundanimate {
  0%,
  100% {
    background-image: url(/images/background1.jpg);
  }

  20% {
    background-image: url(/images/background2.jpg);
  }

  40% {
    background-image: url(/images/background3.jpg);
  }

  60% {
    background-image: url(/images/background4.jpg);
  }

  80% {
    background-image: url(/images/background5.jpg);
  }
}

.home-slider .cover {
  background-color: rgba(0, 0, 0, 0.2);
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-slider .cover div h2,
.home-slider .cover div h4,
.home-slider .cover div h5 {
  color: var(--white);
  text-align: center;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: auto 10px;
}

.home-slider .cover div h2 {
  font-size: 3rem;
}

.home-slider .cover div h4 {
  font-size: 1.6rem;
  color: var(--yellow);
}

.home-slider .cover div h5 {
  font-size: 1.8rem;
  text-transform: capitalize;
}

@media screen and (max-width: 920px) {
  .home-slider .cover div h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .home-slider .cover div h2 {
    font-size: 2rem;
  }

  .home-slider .cover div h4 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 560px) {
  .home-slider .cover div h2 {
    font-size: 1.5rem;
  }

  .home-slider .cover div h5 {
    font-size: 1.5rem;
  }
}

/* -----------------------End of Home Slider------------------- */
/* -----------------------Welcome Home--------------------------- */

.welcome-home {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.welcome-home .info {
  flex: 0.55;
  padding: 1rem;
}

.welcome-home .info h4,
.welcome-home .info h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--orange);
  margin: 10px 0;
}

.welcome-home .info h5 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--black);
}

.welcome-home .info h2 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 10px 0;
  letter-spacing: 1.5px;
  color: var(--darkMaroon);
}

.welcome-home .info p {
  margin: 1rem 0;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.welcome-home .image {
  flex: 0.45;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  padding: 3rem;
}

.welcome-home .image div {
  border: 5px solid #e0dfdf;
  border-radius: 10px;
  transform: rotate(15deg);
  overflow: hidden;
  margin: 2rem;
  object-fit: cover;
}

.welcome-home .image img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.welcome-home .image div:hover img {
  transform: scale(1.2);
}

@media screen and (min-width: 1550px) and (max-width: 3600px) {
  .welcome-home .image {
    padding: 5rem;
  }

  .welcome-home .image div {
    margin: 3rem;
  }
}

@media screen and (min-width: 660px) and (max-width: 920px) {
  .welcome-home .image {
    padding: 2rem;
  }

  .welcome-home .image div {
    margin: 1rem;
  }
}

@media screen and (max-width: 660px) {
  .welcome-home {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .welcome-home {
    display: block;
  }

  .welcome-home .image {
    padding: 0rem;
    width: 100%;
  }

  .welcome-home .image div {
    transform: rotate(0deg);
  }
}

/* ------------------End of Welcome Home---------------------- */
/* -----------------------Resort Section ---------------------- */
.resort-section {
  display: flex;
  min-height: 40vh;
}

.resort-section > div {
  flex: 0.5;
  width: 100%;
  padding: 1rem;
}

.resort-post .fa-cutlery,
.resort-post .fa-coffee {
  margin-right: 10px;
  color: var(--maroon);
}

.resort-post .resort-icons span {
  margin-right: 1rem;
  color: var(--orange);
}

.resort-post .resort-icons {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.resort-section h1,
.resort-section h2 {
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 2px;
  color: var(--darkMaroon);
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.resort-section h2 {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: var(--maroon);
}

.resort-section p {
  letter-spacing: 2px;
  line-height: 1.3rem;
  margin: 10px 0;
}

.resort-section .resort-why h1 {
  margin-top: 0;
}

@media screen and (max-width: 720px) {
  .resort-section {
    flex-direction: column;
  }
}

/* -----------------------End of Resort Section ------------------ */
/* ------------------------End of Home ------------------------ */

/* --------------------------Accomodation----------------------- */
.accomodation-header h4 {
  color: var(--white);
}

.accomodation {
  padding-left: 3rem;
  padding-right: 3rem;
}

.accomodation .accomodation-suite-lists {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 1rem 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding: 1rem;
}

.accomodation .accomodation-suite-lists .suite {
  padding-right: 1rem;
}

.accomodation .accomodation-suite-lists .suite p {
  margin: 2rem 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.accomodation .accomodation-suite-lists .suite p:hover {
  color: var(--orange);
}

.accomodation .suite p:first-child {
  margin-top: 0;
}

.accomodation .suite p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 920px) {
  .accomodation .accomodation-suite-lists {
    flex-direction: column;
  }

  .accomodation .accomodation-suite-lists .suite p {
    margin: 1rem;
  }

  .accomodation .suite p:last-child {
    margin-bottom: 0;
  }
}

.accomodation-content {
  margin: 1rem 0;
}

.accomodation-content p {
  line-height: 2rem;
  letter-spacing: 2px;
}

/* ----------------------Accomodation Suites-------------------- */
.accomodation-suites .suite {
  display: flex;
  margin: 1rem 0;
}

.accomodation-suites .suite > div {
  flex: 0.5;
  padding: 10px;
  letter-spacing: 2px;
}

.accomodation-suites .suite .image {
  padding-left: 0;
}

.accomodation-suites .suite .image img {
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
}

.accomodation-suites .suite .info .info-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.accomodation-suites .suite .info .info-title a {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--darkMaroon);
}

.accomodation-suites .suite .info .info-title .arrow {
  font-size: 1.4rem;
}

.accomodation-suites .suite .info p {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

.accomodation-suites .suite .info .btn-outline {
  margin-left: 1rem;
}

.accomodation-suites .suite .info .btn {
  font-size: 0.8rem;
  padding: 12px 10px;
}

@media screen and (max-width: 920px) {
  .accomodation {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 920px) {
  .accomodation-suites .suite {
    flex-direction: column;
  }

  .accomodation-suites .suite .image {
    max-height: 50vh;
    overflow: hidden;
    object-fit: cover;
  }

  .accomodation-suites .suite .image img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 374px) {
  .accomodation-suites .suite .info .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .accomodation-suites .suite .info .btn {
    margin-left: 0;
  }
}

/* -----------------End of Accomodation Suites-------------------- */

/* --------------------------End of Accomodation------------------ */

/* --------------------------Single Room------------------------- */
.single-room {
  padding: 0;
  overflow-x: hidden;
}

.single-room .single-room-header {
  background-color: var(--maroon);
  min-height: 13vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-room .single-room-header h5,
.single-room .single-room-header h3 {
  color: var(--white);
  margin: 0.5rem 0;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.single-room .single-room-header h5 {
  font-style: italic;
  font-weight: 500;
}

.single-room .single-room-header h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.single-room .single-room-header .fa {
  margin-right: 1rem;
  margin-left: 0;
  color: var(--maroon);
  transition: all 0.3s ease-in-out;
}

.single-room .single-room-header .btn:hover .fa {
  color: var(--white);
}

.single-room .single-room-content {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  background-color: var(--maroon);
}

.single-room .single-room-content p {
  margin-bottom: 1rem;
  max-width: 60vw;
  padding: 1rem;
  letter-spacing: 2px;
  color: var(--white);
}

.single-room .single-room-gallery h3,
.single-room .single-room-details h4 {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--lightBlack);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

/* .single-room .single-room-gallery {
  
} */

/* ---------------------Single Room Image Slider ---------------------- */
.single-room .gallery-slider-container {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 50vh;
}

.single-room .image-slider {
  display: flex;
  height: 50vh;
  min-width: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.single-room .arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border: solid;
  z-index: 5;
}

.single-room .btn-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.single-room #arrow-left {
  border-width: 20px 30px 20px 0;
  left: 1rem;
  border-color: transparent var(--white) transparent transparent;
}

.single-room #arrow-right {
  border-width: 20px 0 20px 30px;
  left: 60%;
  border-color: transparent transparent transparent var(--white);
}

/* ------------------End of Single Room Image Slider ------------------- */

.single-room .single-room-details {
  padding: 1rem;
  margin: 0 auto;
}

.single-room .single-room-details .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-room .single-room-details .details > div {
  display: inline-block;
  max-width: 43vw;
  width: 100%;
  padding: 1rem;
  margin: 10px;
  border-top: 1px solid var(--black);
}

.single-room .single-room-details .details div h5 {
  color: var(--lightBlack);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.single-room .single-room-additional {
  padding: 1rem;
  text-align: center;
}

.single-room .single-room-additional p {
  margin-bottom: 2rem;
  font-style: italic;
  font-family: serif;
}

.single-room .single-room-contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  max-width: 60vw;
  margin: 1rem auto;
  margin-bottom: 2rem;
  background-color: var(--maroon);
}

.single-room .single-room-contact p {
  color: var(--white);
  font-style: italic;
  font-family: serif;
}

@media screen and (max-width: 700px) {
  .single-room .single-room-details .details {
    flex-direction: column;
    padding-right: 1rem;
  }

  .single-room .single-room-details .details > div {
    max-width: 100vw;
  }

  .single-room .single-room-contact {
    max-width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .single-room .single-room-content p {
    max-width: 100vw;
  }
}

@media screen and (max-width: 500px) {
  .single-room .single-room-contact {
    flex-direction: column;
  }

  .single-room .single-room-contact p {
    margin-bottom: 2rem;
  }
}

/* -----------------------End of Single Room --------------------- */

/* --------------------------Amenities---------------------------- */
.amenities {
  padding: 1rem 2rem;
}

.amenities .back-link {
  margin: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
}

.amenities .back-link a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.amenities .back-link .icon {
  font-size: 1.5rem;
  font-weight: 200;
  margin-right: 0.3rem;
  color: var(--lightBlack);
}

.amenities .title {
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.amenities .title p {
  font-style: italic;
  font-family: serif;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.amenities .title h4 span {
  text-transform: uppercase;
  font-size: 1.3rem;
  display: block;
  color: var(--lightBlack);
  font-weight: 100;
  letter-spacing: 2px;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.amenities .single-amenity {
  padding: 2rem 1rem;
  border-top: 1px solid var(--black);
}

.amenities .single-amenity h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 600;
}

.amenities .single-amenity ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.amenities .single-amenity ul li {
  padding: 0.4rem;
}

@media screen and (max-width: 420px) {
  .amenities {
    padding: 1rem;
  }

  .amenities .single-amenity ul {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-row-gap: 2px;
  }
}

/* ---------------------End of Amenities---------------------------- */
/* -------------------------------Rates------------------------------- */
.rates {
  padding: 0;
}

.rates .rates-header {
  min-height: 60vh;
  /* background-position      : bottom; */
  /* background-size          : 100%; */
}

.rates .rates-header .details {
  position: absolute;
  background-color: rgba(162, 241, 255, 0.74);
  left: 0.4rem;
  bottom: 0;
  padding: 1rem;
  padding-bottom: 0;
}

.rates .rates-header .details p {
  margin: 1rem 0;
}

.rates .rates-header .details p .fa {
  margin-right: 0.8rem;
}

.rates .rates-header .details .address {
  margin: 0;
}

.rates .rates-header .details h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

/* -----------------------------End of Rates--------------------------- */

/* ---------------------------Experiences------------------------------- */
/* ---------------------Experiences Header------------------------------- */
.experiences {
  padding: 0 0 1rem 0;
}

.experiences .experiences-header {
  display: flex;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  color: var(--lightBlack);
}

.experiences .experiences-header a {
  display: inline-flex;
  padding: 10px 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.experiences .experiences-header a:hover,
.experiences .experiences-header .active {
  color: var(--maroon);
}

.experiences .experiences-header .active::after {
  content: "";
  width: 50%;
  height: 1.6px;
  background-color: var(--maroon);
  display: block;
  position: absolute;
  bottom: 5px;
}

@media screen and (max-width: 425px) {
  .experiences .experiences-header {
    height: 8vh;
    overflow-y: hidden;
    transition: all 0.3s linear;
  }

  .experiences .experiences-header.show-experience-header {
    height: 22vh;
  }

  .experiences .experiences-header a,
  .experiences .experiences-header {
    display: block;
    position: relative;
  }

  .experiences .experiences-header span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1rem;
    right: 1rem;
  }

  .experiences .experiences-header span::after {
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    display: block;
    left: 3px;
    position: absolute;
    transform: rotate(45deg);
    pointer-events: all;
    cursor: pointer;
  }
}

/* --------------------End of Experiences Header-------------------------- */
/* ------------Adventure, Family and Nature--------------------------------- */
.experiences .adventure,
.experiences .family,
.experiences .nature {
  padding: 1rem;
}

.experiences .adventure-section-one,
.experiences .family-section-one,
.experiences .nature-section-one {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.experiences .adventure-section-one h2,
.experiences .family-section-one h2,
.experiences .nature-section-one h2,
.experiences .adventure-section-two .content h2,
.experiences .family-section-two .content h2,
.experiences .nature-section-two .content h2,
.experiences .adventure-section-three .content h2,
.experiences .family-section-three .content h2,
.experiences .nature-section-three .content h2,
.experiences .special-request h3 {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.experiences .adventure-section-one p,
.experiences .family-section-one p,
.experiences .nature-section-one p,
.experiences .adventure-section-two .content p,
.experiences .family-section-two .content p,
.experiences .nature-section-two .content p,
.experiences .adventure-section-three .content p,
.experiences .family-section-three .content p,
.experiences .nature-section-three .content p {
  padding: 1rem;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
}

.experiences .adventure-section-two,
.experiences .family-section-two,
.experiences .nature-section-two,
.experiences .adventure-section-three,
.experiences .family-section-three,
.experiences .nature-section-three {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-items: center;
}

.experiences .adventure-section-two div,
.experiences .family-section-two div,
.experiences .nature-section-two div,
.experiences .adventure-section-three div,
.experiences .family-section-three div,
.experiences .nature-section-three div {
  padding: 1rem;
}

.experiences .adventure-section-two .content,
.experiences .family-section-two .content,
.experiences .nature-section-two .content,
.experiences .adventure-section-three .content,
.experiences .family-section-three .content,
.experiences .nature-section-three .content {
  flex: 0.4;
}

.experiences .adventure-section-two .image,
.experiences .family-section-two .image,
.experiences .nature-section-two .image,
.experiences .adventure-section-three .image,
.experiences .family-section-three .image,
.experiences .nature-section-three .image {
  flex: 0.6;
}

.experiences .adventure-section-two .image img,
.experiences .family-section-two .image img,
.experiences .nature-section-two .image img,
.experiences .adventure-section-three .image img,
.experiences .family-section-three .image img,
.experiences .nature-section-three .image img {
  max-height: 350px;
}

.experiences .adventure-section-two .content p,
.experiences .family-section-two .content p,
.experiences .nature-section-two .content p,
.experiences .adventure-section-three .content p,
.experiences .family-section-three .content p,
.experiences .nature-section-three .content p {
  padding-right: 2rem;
}

.experiences .special-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.experiences .special-request p {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .experiences .adventure,
  .experiences .family,
  .experiences .family {
    padding-left: 0;
    padding-right: 0;
  }

  .experiences .adventure-section-two,
  .experiences .family-section-two,
  .experiences .nature-section-two {
    flex-direction: column;
  }

  .experiences .adventure-section-three,
  .experiences .family-section-three,
  .experiences .nature-section-three {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 700px) {
  .experiences .adventure-section-one,
  .experiences .family-section-one,
  .experiences .nature-section-one {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .experiences .adventure-section-one h2,
  .experiences .family-section-one h2,
  .experiences .nature-section-one h2,
  .experiences .adventure-section-two .content h2,
  .experiences .family-section-two .content h2,
  .experiences .nature-section-two .content h2,
  .experiences .adventure-section-three .content h2,
  .experiences .family-section-three .content h2,
  .experiences .nature-section-three .content h2,
  .experiences .special-request h3 {
    font-size: 1.2rem;
  }

  .experiences .adventure-section-two .content p,
  .experiences .family-section-two .content p,
  .experiences .nature-section-two .content p,
  .experiences .adventure-section-three .content p,
  .experiences .family-section-three .content p,
  .experiences .nature-section-three .content p {
    padding-right: 1rem;
  }
}

/* ------------End of Adventure, Family and Nature----------------------- */
/* -----------------------End of Experiences---------------------------- */

/* -------------------------------SPA------------------------------------ */
.spa {
  padding: 0;
}

.spa .spa-body {
  padding: 0.5rem;
}

.spa .spa-header-content p {
  padding: 0.5rem;
  letter-spacing: 1.5px;
  text-align: center;
}

.spa .spa-section-one,
.spa .spa-section-two {
  display: flex;
  margin: 2rem 0;
}

.spa .spa-section-three {
  padding: 2rem;
}

.spa .spa-section-one .content,
.spa .spa-section-two .image {
  flex: 0.6;
  padding: 1rem;
}
.spa .spa-section-one .image,
.spa .spa-section-two .content {
  flex: 0.4;
  padding: 1rem;
}

.spa .spa-section-one .image img {
  max-height: 70vh;
  object-fit: contain;
}

.spa .spa-section-one .content h2,
.spa .spa-section-two .content h2,
.spa .spa-section-three h2 {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.spa .spa-section-two .content h2 {
  padding-top: 0;
}

.spa .spa-section-one .content > p {
  margin: 1rem 0;
  letter-spacing: 1.5px;
}

.spa .spa-section-one .content > a,
.spa .spa-section-three > a {
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  color: var(--maroon);
}

.spa .spa-section-two ul {
  padding: 0 1rem;
}

.spa .spa-section-two ul li {
  margin: 0.5rem 0;
  color: var(--lightBlack);
}

@media screen and (max-width: 768px) {
  .spa .spa-section-one {
    flex-direction: column-reverse;
  }

  .spa .spa-section-two {
    flex-direction: column;
  }
}

/* ---------------------------Treatment Slider---------------------------- */

.treatment-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  min-height: 60vh;
  overflow: hidden;
}

.treatment-slider {
  display: flex;
  align-items: center;
  min-height: 60vh;
  min-width: 100%;
  width: 100%;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}

.treatment-container .treatment-slide {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  min-width: 100%;
  min-height: 50vh;
}

.treatment-container .treatment-slide .image {
  flex: 0.4;
  padding-right: 1rem;
}

.treatment-container .treatment-slide .content {
  flex: 0.6;
  padding: 1rem;
  padding-left: 2rem;
}

.treatment-container .treatment-slide .content h3 {
  padding: 1rem 0;
  padding-top: 0;
  font-size: 1.5rem;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.treatment-container .treatment-slide .content p {
  line-height: 1.5rem;
}

.treatment-container .arrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 5;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  transition: all 0.3s ease-in-out;
}

.treatment-container .arrow:hover {
  border-color: var(--lightBlack);
}

.treatment-container .btn-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.treatment-container #arrow-left {
  transform: rotate(-135deg);
}

.treatment-container #arrow-right {
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .treatment-container .treatment-slide {
    flex-direction: column;
  }

  .treatment-container .treatment-slide .image {
    padding: 0;
  }

  .treatment-container .treatment-slide .image img {
    max-height: 50vh;
  }

  .treatment-container .treatment-slide .content {
    padding: 5px;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .spa .spa-section-three {
    padding: 1rem;
  }
}

/* --------------------End of Treatment Slider--------------------------- */
/* -------------------------End of SPA----------------------------------- */
